



:root {
    --white: #ffffff;
    --background: #48557e; /* Gold */

    --card-bg: #cf37ca; /* DeepPink */
    --card-hover-bg: #cf37ca; /* DeepPink */
    --card-shadow: rgba(49, 4, 28, 0.8); /* DeepPink with alpha */

    --progress-bg: #60dc60; /* LimeGreen */
    --progress-shadow: #163516; /* LimeGreen */

    --stopwatch-text: #67b3ff; /* DodgerBlue */
    --stopwatch-shadow: rgba(11, 49, 86, 0.8); /* DodgerBlue with alpha */

    --button-bg: #ff6347; /* Tomato */
    --button-text: var(--white);

    --highscore-text: var(--white);
}




body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--background);
    font-family: 'Courier New', monospace;
    overflow: scroll;
}

.menu-bar {
    display: flex;
    justify-content: space-around;
    background-color: #333; /* Hintergrundfarbe der Menüleiste */
    padding: 10px;
    width: 90%;
    margin:5px;
}

.menu-option {
    margin:10px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease; /* Animation für Farbwechsel bei Hover */
}

.menu-option:hover {
    color: #ff6347; /* Farbe bei Hover */
}

h1 {
    font-family: 'Courier New', monospace;
    color: var(--card-bg);
    margin: 10px;
    text-shadow: 0 0 10px var(--card-shadow);
    text-align: center;
}

p {
    font-family: 'Courier New', monospace;
    color: var(--card-bg);
    margin: 10px;
    line-height: 1.2; /* Geringer Zeilenabstand für eine spielerische Optik */
    text-shadow: 0 0 10px var(--card-shadow);
}

#memory-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
    max-width: 400px;
    margin-bottom: 20px;
}

.card {
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--card-bg);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px var(--card-shadow);
}

.carddisabled:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--card-shadow);
}

#progress-container {
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    background-color: var(--progress-bg);
    transition: width 0.5s ease;
    box-shadow: 0 0 20px var(--progress-shadow);
}

#stopwatch {
    font-size: 18px;
    color: var(--stopwatch-text);
    text-shadow: 2px 2px 4px var(--stopwatch-shadow);
}

#new-game-btn {
    padding: 15px 30px;
    background-color: var(--button-bg);
    color: var(--button-text);
    font-size: 20px;
    cursor: pointer;
    display: none;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    animation: pulse 1s infinite;
}

#highscore-list {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    color: var(--highscore-text);
}

.animated {
    animation-duration: 1s;

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
    transition: transform 0.3s ease-in-out;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    to {
        transform: scale(0.95);
    }
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}




/* Allgemeine Stildefinitionen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#level-container {
    max-width: 600px;
    margin: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.795);

}

h2 {
    font-size: 24px;
    color: #333;
}

.level-button {
    text-align: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}



.level-button span {
    /* Stile für die Level-Beschriftung */
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.level-info {
    /* Stile für das Container-Element der zusätzlichen Informationen */


    top: 100%;
    left: 0;

    background-color: rgba(255, 255, 255, 0.199); /* Hintergrundfarbe mit Transparenz */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
}

.level-button:hover .level-info {
    display: block; /* Beim Schweben über den Button anzeigen */
}

.level-label {
    /* Stile für die zusätzlichen Informationen */
    margin: 5px 0;
    font-size: 14px;
    color:white;
    font-family: Arial, sans-serif;
}

.level-label-highscore {
    /* Stile für die zusätzlichen Informationen */
    margin: 5px 0;
    font-size: 14px;
    color:white;
    font-family: Arial, sans-serif;
}


/* Einzigartige Farbdefinitionen für jeden Level-Button */
.level-button.level-1 {
    background: linear-gradient(to bottom right, #4CAF50, #1a462d);
}

.level-button.level-2 {
    background: linear-gradient(to bottom right, #db79ff, #4800a6);
}

.level-button.level-3 {
    background: linear-gradient(to bottom right, #4682B4, #001554);
}

.level-button.level-4 {
    background: linear-gradient(to bottom right, #20B2AA, #00fbff);
}

.level-button.level-5 {
    background: linear-gradient(to bottom right, #FFA07A, #ffbf47);
}

.level-button:hover {
    opacity: 0.9;
}

/* Anpassungen für Mobile */
@media (max-width: 1600px) {
    #level-container {
        padding: 10px;
    }
    h2 {
        font-size: 20px;
    }
    .level-button {
        font-size: 16px;
        padding: 8px;
    }
}

#level-container{
    display:none;
}

.center{
    text-align: center;
}